<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcg.dao.MyFileLogDao">

    <sql id="fileLogField">
        select
            id,oldFileName,newFileName,
           filesize, contentType,uploadDate,ext
            from t_filelog
    </sql>


    <!--根据id删除一条记录-->
    <delete id="delete" parameterType="String">
        delete from t_filelog where id=#{id}
    </delete>

    <!--更新下载次数-->
    <update id="update" >
        update t_filelog
        set downcounts = #{downcounts},
            uploadDate = #{uploadDate}
        where id=#{id}
    </update>

    <!--根据文件查询文件基础信息-->
    <select id="find" parameterType="String" resultType="MyFileLog">
        <include refid="fileLogField"/>
        where id = #{id}
    </select>

    <!--根据用户id获取用户文件列表-->
    <select id="findAllFilesByUserId" resultType="MyFileLog">
        <include refid="fileLogField"/>
        where userid = #{id}
        order by uploadDate desc
    </select>

    <!--根据用户id获取用户文件列表-->
    <select id="findAll" resultType="MyFileLog">
        <include refid="fileLogField"/>
        order by uploadDate desc
    </select>

    <!--保存文件 大小写转换快捷键  ctrl+shift+x  -->
    <insert id="save">
        insert into t_filelog values(#{id},#{oldFileName},#{newFileName},#{ext},#{filesize},#{contentType},#{uploadDate},#{user.id},#{path},#{downcounts})
    </insert>

</mapper>
